@page  
{ 
    size: auto;
    margin: 1.91cm 0.64cm 1.91cm 0.64cm;  
}
html, body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
input:not([nuc]){
    text-transform: uppercase;
}
.nup, .nup input{
    text-transform: none !important;
}

.col-15 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
}

.pa-0-b{
    padding-bottom: 0;
}
.pa-0-t{
    padding-top: 0;
}
.pa-1px{
    padding: 1px !important;
}
.fh{
    height: 100% !important;
}
.fluid{
    width: 100%;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}